<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper" ng-click="vm.breadcrumbRoute()">
    <h4 class="mainTitle no-margin" >Edit Recipe</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<div class="container-fluid container-fullw">

    <div class="row" ng-show="vm.errorMessage">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <button class="close" ng-click="vm.hideAlertBox()">
                    &times;
                </button>
                <strong>Error!</strong> {{vm.errorMessage}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">

                    <div ng-include="'app/recipe/_form.html'"></div>

                </div>
            </div>
        </div>
    </div>
</div>
