<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span>Main Navigation</span>
</div>
<ul ng-controller="NavCtrl as vm" class="main-navigation-menu">
    <li ng-if="vm.isAdminRole" ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="Dashboard" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title"> Dashboard </span>
                </div>
            </div>
        </a>
    </li>
    <li ng-if="vm.isAdminRole" ng-class="{'active open':$state.includes('app.product')}" >
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="Products" char-count="1" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title">Products</span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active" >
                <a ui-sref="app.product.add"> <span class="title"> Add New </span> </a>
            </li>
            <li ui-sref-active="active" >
                <a ui-sref="app.product.list"> <span class="title" > List Products </span> </a>
            </li>
        </ul>
    </li>
    <li ng-if="vm.isDietitianRole" ng-class="{'active open':$state.includes('app.recipe')}" >
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="Recipe" char-count="1" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title">Recipe</span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active" >
                <a ui-sref="app.recipe.add"> <span class="title"> Add New </span> </a>
            </li>
            <li ui-sref-active="active" >
                <a ui-sref="app.recipe.list"> <span class="title" > List Recipe </span> </a>
            </li>
        </ul>
    </li>
    <li ng-if="vm.isAdminRole" ng-class="{'active open':$state.includes('app.dietitian')}" >
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="Dietitian" char-count="1" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title">Dietitian</span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active" >
                <a ui-sref="app.dietitian.add"> <span class="title"> Add New </span> </a>
            </li>
            <li ui-sref-active="active" >
                <a ui-sref="app.dietitian.list"> <span class="title" > List Dietitian </span> </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active open':$state.includes('app.ingredient')}" >
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="Ingredient" char-count="1" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title">Ingredient</span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active" >
                <a ui-sref="app.ingredient.add"> <span class="title"> Add New </span> </a>
            </li>
            <li ui-sref-active="active" >
                <a ui-sref="app.ingredient.list"> <span class="title" > List Ingredient </span> </a>
            </li>
        </ul>
    </li>
    <li ng-if="vm.isAdminRole" ui-sref-active="active">
        <a ui-sref="app.consumer">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="Consumers" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title"> Consumers Request </span>
                </div>
            </div>
        </a>
    </li>

    <li ng-if="vm.isAdminRole" ng-class="{'active open':$state.includes('app.coupon')}" >
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="Coupon" char-count="1" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title">Coupons</span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active" >
                <a ui-sref="app.coupon.add"> <span class="title"> Add New </span> </a>
            </li>
            <li ui-sref-active="active" >
                <a ui-sref="app.coupon.list"> <span class="title" > List Coupons </span> </a>
            </li>
        </ul>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.profile">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="My Profile" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title"> My Profile </span>
                </div>
            </div>
        </a>
    </li>

  <li ui-sref-active="active">
    <a ui-sref="logout">
      <div class="item-content">
        <div class="item-media">
          <letter-icon data="Logout" char-count="2" size="sm"></letter-icon>
        </div>
        <div class="item-inner">
          <span class="title"> Logout </span>
        </div>
      </div>
    </a>
  </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
