<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.pages.USERPROFILE">USER PROFILE</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: USER PROFILE -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
                <!-- start: USER TABSET -->
                <uib-tabset class="tabbable">

                    <!-- start: TAB EDIT ACCOUNT -->
                    <uib-tab heading="Edit Account" active="editActive">
                        <ng-form name="vm.form" role="form" id="form" novalidate>
                            <fieldset>
                                <legend>
                                    Account Info
                                </legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"
                                             ng-class="{'has-error':vm.form.name.$dirty && vm.form.name.$invalid, 'has-success':vm.form.name.$valid}">
                                            <label class="control-label">
                                                Name <span class="symbol required"></span>
                                            </label>
                                            <input type="text" placeholder="Enter your first name" class="form-control" name="name"
                                                   ng-model="vm.user.name" ng-pattern="/^[a-zA-Z\s]*$/" required>
                                            <span class="error text-small block"
                                                  ng-if="vm.form.name.$dirty && vm.form.name.$error.required">Product Name is required</span>
                                            <span class="error text-small block" ng-if="vm.form.name.$error.pattern">Invalid Characters</span>
                                        </div>
                                        <div class="form-group"
                                             ng-class="{'has-error':vm.form.email.$dirty && vm.form.email.$invalid, 'has-success':vm.form.email.$valid}">
                                            <label class="control-label"> Email <span class="symbol required"></span> </label>
                                            <input type="email" placeholder="Enter a valid E-mail" class="form-control"
                                                   name="email"
                                                   ng-model="vm.user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                                            <span class="error text-small block" ng-if="vm.form.email.$dirty && vm.form.email.$error.required">Email is required.</span>
                                            <span class="error text-small block" ng-if="vm.form.email.$error.email">Please, enter a valid email address.</span>
                                        </div>

                                        <div class="form-group"
                                             ng-class="{'has-error':vm.form.mobile.$dirty && vm.form.mobile.$invalid, 'has-success':vm.form.mobile.$valid}">
                                            <label class="control-label"> Mobile Number <span class="symbol required"></span> </label>
                                            <input type="text" placeholder="Enter your Mobile Number" class="form-control" name="mobile"
                                                   ng-model="vm.user.mobile" ng-pattern="/^[0-9]*$/" ng-minlength=10
                                                   ng-maxlength=10 required/>
                                            <span class="error text-small block"
                                                  ng-if="vm.form.mobile.$error.minlength || vm.form.mobile.$error.maxlength">Please enter a 10 digit number.</span>
                                            <span class="error text-small block" ng-if="vm.form.mobile.$dirty && vm.form.mobile.$invalid">Please enter a valid Mobile number</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!--<div class="form-group">-->
                                            <!--<label class="block">-->
                                                <!--Gender-->
                                            <!--</label>-->
                                            <!--<div class="clip-radio radio-primary">-->
                                                <!--<input type="radio" id="us-female" name="gender" value="female" ng-model="userInfo.gender">-->
                                                <!--<label for="us-female">-->
                                                    <!--Female-->
                                                <!--</label>-->
                                                <!--<input type="radio" id="us-male" name="gender" value="male" ng-model="userInfo.gender">-->
                                                <!--<label for="us-male">-->
                                                    <!--Male-->
                                                <!--</label>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <div class="form-group">

                                                <label class="control-label"> Product Image </label><br>

                                                <img style="width:100px;" ngf-thumbnail="vm.file || 'images/eHealth/default-images.png'"/><br><br>

                                                <input
                                                        type="file"
                                                        ngf-select="vm.submitImage()"
                                                        ng-model="vm.file"
                                                        name="file"
                                                        ngf-pattern="'image/*'"
                                                        accept="image/*"
                                                        ngf-max-size="20MB"
                                                />
                                                <i ng-show="vm.form.file.$error.required">*required</i><br>
                                                <i ng-show="vm.form.file.$error.maxSize">File too large
                                                    {{vm.file.size / 1000000|number:1}}MB: max 20M</i>
                                                <!--<button type="submit" ng-click="vm.submit()">submit</button>-->
                                                <p>{{vm.progress}}
                                                </p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-wide btn-success"
                                                ng-click="vm.submit()">
                                            Save
                                        </button>
                                        <button type="reset" class="btn btn-wide btn-warning"
                                                ng-click="vm.reset()">
                                            Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-form>
                    </uib-tab>
                    <!-- end: TAB EDIT ACCOUNT -->
                    <!-- start: TAB PROJECTS -->
                    <uib-tab heading="Change Password">
                        <ng-form name="vm.passwordForm" role="Form" novalidate>

                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend style="font-weight:bold">
                                            CHANGE PASSWORD
                                        </legend>


                                        <div class="form-group"
                                             ng-class="{'has-error':vm.passwordForm.password.$dirty && vm.passwordForm.password.$invalid, 'has-success':vm.passwordForm.password.$valid}">
                                            <label class="control-label"> Current Password <span class="symbol required"></span> </label>
                                            <input type="password" placeholder="Enter your Password" class="form-control" name="password"
                                                   ng-model="vm.password" ng-minlength=6 required/>
                                            <span class="error text-small block"
                                                  ng-if="vm.passwordForm.password.$dirty && vm.passwordForm.password.$error.required">Current Password is required</span>
                                            <span class="error text-small block" ng-if="vm.passwordForm.password.$error.minlength">Current Password should be six characters or more </span>
                                        </div>

                                        <div class="form-group"
                                             ng-class="{'has-error':vm.passwordForm.newPassword.$dirty && vm.passwordForm.newPassword.$invalid, 'has-success':vm.passwordForm.newPassword.$valid}">
                                            <label class="control-label"> New Password <span class="symbol required"></span> </label>
                                            <input type="password" placeholder="Enter a Password" class="form-control" name="newPassword"
                                                   ng-model="vm.newPassword" ng-minlength=6 required/>
                                            <span class="error text-small block"
                                                  ng-if="vm.passwordForm.newPassword.$dirty && vm.passwordForm.newPassword.$error.required">New Password is required</span>
                                            <span class="error text-small block" ng-if="vm.passwordForm.newPassword.$error.minlength">New Password should be six characters or more </span>
                                        </div>

                                        <div class="form-group"
                                             ng-class="{'has-error':vm.passwordForm.password2.$dirty && vm.passwordForm.password2.$error.compareTo || vm.passwordForm.password2.$dirty && vm.passwordForm.password2.$invalid, 'has-success':vm.passwordForm.password2.$valid}">
                                            <label class="control-label"> Repeat Password <span class="symbol required"></span> </label>
                                            <input type="password" placeholder="Repeat Password" class="form-control" name="password2"
                                                   ng-model="vm.password2" compare-to="vm.newPassword" required/>
                                            <span class="error text-small block"
                                                  ng-if="vm.passwordForm.password2.$dirty && vm.passwordForm.password2.$error.required">Repeat Password is required</span>
                                            <span class="error text-small block"
                                                  ng-if="vm.passwordForm.password2.$dirty && vm.passwordForm.password2.$error.compareTo">Passwords do not match</span>
                                        </div>

                                        <button type="button" class="btn btn-wide btn-success" ng-click="vm.submitPassword()">
                                            Save
                                        </button>
                                        <button type="reset" class="btn btn-wide btn-warning"
                                                ng-click="vm.reset('password')">
                                            Reset
                                        </button>


                                    </fieldset>
                                </div>
                            </div>
                        </ng-form>
                    </uib-tab>
                    <!-- end: TAB PROJECTS -->
                </uib-tabset>
                <!-- end: USER TABSET -->
        </div>
    </div>
</div>
<!-- end: USER PROFILE -->