<div class="table-responsive">
    <table ng-table="vm.tableParams" show-filter="true" class="table table-striped">
        <tr ng-repeat="row in $data">

            <td data-title="'Consumer Name'">
                {{row.userId.name}}
            </td>
            <td data-title="'Consumer Email'">
                {{row.userId.email}}
            </td>
            <td data-title="'Consumer Mobile'">
                {{row.userId.mobile}}
            </td>

            <td data-title="'Dietitian Detail'">
                <ul style="list-style: none">
                    <li ng-repeat="dietitian in row.hiredDietitians">
                        <span ng-if="!dietitian.active && vm.viewType == 'new'"><a ng-click="vm.open(dietitian , row)">{{dietitian.dietitianId.name | uppercase}}</a></span>  <span ng-if="!dietitian.active && vm.viewType == 'new'" class="text-warning"> - Confirmation Pending </span>
                        <span ng-if="dietitian.active && vm.viewType == 'confirmed'"><a ng-click="vm.open(dietitian , row)">{{dietitian.dietitianId.name | uppercase}}</a></span>  <span ng-if="dietitian.active && vm.viewType == 'confirmed'" class="text-success"> - Working </span>
                        <span ng-if="dietitian.active && dietitian.feesSchedule[dietitian.feesSchedule.length-1].lastDateOfWork < vm.currentDate && vm.viewType == 'finished'"><a ng-click="vm.open(dietitian , row)">{{dietitian.dietitianId.name | uppercase}}</a></span>  <span ng-if="dietitian.active && dietitian.feesSchedule[dietitian.feesSchedule.length-1].lastDateOfWork < vm.currentDate && vm.viewType == 'finished'" class="text-royal"> - Subscription Completed </span>
                    </li>
                </ul>
            </td>

            <!--<td data-title="'Status of Dietitians'">-->
            <!--<ul style="list-style: none">-->
            <!--<li ng-repeat="dietitian in row.hiredDietitians">-->
            <!--<span ng-if="!dietitian.active" class="text-warning"> Confirmation Pending </span>-->
            <!--<span ng-if="dietitian.active" class="text-success"> Working </span>-->
            <!--<span ng-if="dietitian.active && dietitian.feesSchedule[dietitian.feesSchedule.length-1].lastDateOfWork" class="text-warning"> Work completed </span>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</td>-->

            <!--<td width="15%" class="center">-->
            <!--<div class="visible-md visible-lg hidden-sm hidden-xs">-->
            <!--<a ui-sref="app.product.edit({id : row._id})" class="btn btn-transparent btn-xs"-->
            <!--tooltip-placement="top"-->
            <!--uib-tooltip="View Consumers"><i class="fa fa-share"></i></a>-->
            <!--<a ui-sref="app.dietitian.edit({id : row._id})" class="btn btn-transparent btn-xs"-->
            <!--tooltip-placement="top"-->
            <!--uib-tooltip="Edit"><i class="fa fa-pencil"></i></a>-->
            <!--<a href="#" ng-click="vm.toggleDietitian(row._id)"-->
            <!--class="btn btn-transparent btn-xs tooltips" tooltip-placement="top"-->
            <!--uib-tooltip="Deactivate"><i class="fa fa-ban"></i></a>-->
            <!--</div>-->
            <!--<div class="visible-xs visible-sm hidden-md hidden-lg">-->
            <!--<div class="btn-group" uib-dropdown>-->
            <!--<button type="button" class="btn btn-primary btn-sm dropdown-toggle"-->
            <!--uib-dropdown-toggle>-->
            <!--<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu pull-right dropdown-light" role="menu">-->
            <!--<li>-->
            <!--<a href="#" ui-sref="app.dietitian.user({id : row._id})"> View Consumers </a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#" ui-sref="app.dietitian.edit({id : row._id})"> Edit </a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a ng-click="vm.toggleDietitian(row._id)" href="#"> Deactivate </a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--</td>-->
        </tr>
    </table>
</div>